/* 공통 홈 */
body{
  /* background-color: yellow; */
  display: flex;
  flex-flow: column wrap;
  min-height:100vh;
}

.app-main{
  /* background-color: violet; */
  flex-grow: 1;
  display:flex;
  flex-flow: row wrap;
}

.ediya-recommend-container, .ediya-section-container, .ediya-notice, .ediya-news{
  width:100%;
}

.ediya-inform-container{
  display:flex;
  flex-flow:row wrap;
}


/* 테스크탑 홈 */
@media all and (min-width:768px){
  /* body{
    background-color: lightgreen;
  } */
  .ediya-section-container{
    display: flex;
    flex-flow:row nowrap;
    justify-content: center;
  }
  .ediya-youtube{
    /* background-color: orange; */
    width:365px;
  }
  .ediya-inform-container{
    /* background-color: teal; */
    width:375px;
  }
}

